body {
    background-color: darkgreen;
    min-width: 540px;
    color: white;
    width: 90%;
  }

span {
    display: inline-block;
    padding: 0 20px;
}

  .topPanel {
    text-align: center;
    padding: 10px;
  }
  
  .empty {
    opacity: 0;
  }
  
  .winMessage {
    text-align: center;
  }